package views

import "edu-go-fiber/views/components"
import "edu-go-fiber/views/layout"

templ Main () {
    <main>
    @layout.Header() {
        @components.Title("найди работу мечты")
    }
    Main
    </main>
}

