package views

import "edu-go-fiber/views/components"
import "edu-go-fiber/views/layout"

templ Main () {
    @layout.Layout (layout.LayoutProps{
        Title: "Найди работу",
        MetaDescription: "~сайтт по поиску работы",
    })  {
         <main>
    @layout.Header() {
        @components.Title("найди работу мечты")
        @components.SubTitle("простой поиск работы")
    }
    Main
    </main>
    }
}